<footer>
    <p class="logo">Gofio y Mojo</p>
    <small class="copy"><time datetime="2025">2025</time>. Hecho con <span class="heart">❤️</span> por Daniel Ramos Acosta</small>
    <div class="social-networks">
        <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./assets/instagram.svg" alt="Instagram" loading="lazy">
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./assets/youtube.svg" alt="YouTube" loading="lazy">
        </a>
    </div>
    <ul class="legal">
        <li>
            <a href="#">Política de privacidad</a>
        </li>
        <li>
            <a href="#">Política de cookies</a>
        </li>
        <li>
            <a href="#">Aviso legal</a>
        </li>
    </ul>
</footer>
