.hero {
  position: relative;
  text-align: center;
  color: var(--color-light);
  padding: 14rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .hero-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background: linear-gradient(to bottom, #323e43 0%,#494c3a 28%,#926a34 58%,#233331 69%,#334946 84%,#000000 91%);
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  h1 {
    img {
      max-width: 100%;
    }
  }

  .subtitle {
    display: block;
    font-size: 2rem;
  }
}