<nav aria-label="Paginación">
    <ul class="paginator">
        <li>
        <a class="page" aria-label="Página anterior" aria-disabled="true" tabindex="-1">&lt;</a>
        </li>
        <li>
        <a href="?page=1" class="page" aria-current="page">1</a>
        </li>
        <li>
        <a href="?page=2" class="page">2</a>
        </li>
        <li>
        <a href="?page=3" class="page">3</a>
        </li>
        <li>
        <a href="?page=4" class="page">4</a>
        </li>
        <li>
        <a href="?page=5" class="page">5</a>
        </li>
        <li>
        <a href="?page=6" class="page">6</a>
        </li>
        <li>
        <a href="?page=2" class="page" aria-label="Página siguiente">&gt;</a>
        </li>
    </ul>
</nav>
