.recipe-hero {
    position: relative;

    .title {
        margin: 0;
        padding: 10rem 0;
        color: var(--color-white);
        text-align: center;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }
}
